//
// Base styles
//

.alert {
  position: relative;
  padding: $alert-message-padding;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border;
  @extend .subhead;
  @include border-radius($alert-border-radius);

  .alert-link {
    font-family: $alert-link-font-weight;
  }

  button{
    background-color: inherit;
    border: $alert-border;
    color: inherit;
    opacity: $alert-close-opacity;
    height: $alert-button-height;
    float: right;
    margin-top: $alert-button-margin-top;
    margin-right: $alert-button-margin-right;

  :hover{
    opacity: 1;
  }

      svg{
        color: inherit;
        @extend .icon;
        width: $alert-svg-button-width;
    }
  }
}

// Headings for larger alerts

.alert-heading {
  @extend .alert;
  padding: $alert-padding $alert-padding $alert-padding-bottom $alert-padding;

  h4, .h4 {
    // Specified to prevent conflicts of changing $headings-color
    color: inherit;
    @extend .headline;
    font-family: $font-family-bold;
  }
  svg{
    @extend .icon;
    width: $alert-svg-heading-width;
    vertical-align: text-top;
  }
}


// Provide class for links that match alerts


// Alternate styles

// Generate contextual modifier classes for colorizing the alert.
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(
      theme-color-level($color, $alert-bg-level),
      theme-color-level($color, $alert-border-level),
      theme-color-level($color, $alert-color-level)
    );
  }
}

// Message Alerts
@each $color, $value in $alert-message  {
  .alert-#{$color} {
    @include alert-message-variant(
      alert-message-color-level($color),
      alert-message-color-level($color, $alert-color-level)
    );
  }
}


.alert-msg-light{
  color: $gray-900;
  .alert-link{
    color:$gray-900;
  }
}

// Status Alerts
@each $color, $value in $alert-status  {
  .alert-#{$color} {
    @include alert-status-variant(
      alert-msg-color-level($color)
    );
  }
}

// Status Alert background colors

.alert-msg-danger{
  background: $alert-msg-danger-bg;
}

.alert-msg-warning{
  background: $alert-msg-warning-bg;
}

.alert-msg-success{
  background: $alert-msg-success-bg
}

.alert-msg-info{
  background: $alert-msg-info-bg;
}

.alert-msg-default{
background-color: $gray-200;
}



// Stripped Alert background
.alert-stripped {
  border: none;
  background: repeating-linear-gradient(
    $alert-stripe-angle,
    $alert-stripe-color-1,
    $alert-stripe-color-1 $alert-stripe-width-base,
    $alert-stripe-color-2 0,
    $alert-stripe-color-2 #{$alert-stripe-width-base * $alert-stripe-width-ratio}
  );
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

// .alert-dismissible {
//   padding-right: $close-font-size + $alert-padding-x * 2;

//   // Adjust close link position
//   .close {
//     position: absolute;
//     top: 0;
//     right: 0;
//     padding: $alert-padding-y $alert-padding-x;
//     color: inherit;
//   }
// }
