.h1-skeleton:empty, .h2-skeleton:empty, .h5-skeleton:empty, .img-skeleton:empty, .a-skeleton:empty, .skeleton:empty {
    animation: loading 1.7s infinite linear;
    background: #dedfe1;
    background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
    background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
    background-repeat: no-repeat;
    border-radius: 3px;
  }
  
  .h1-skeleton:empty {
    height: 38px;
    width: 200px;
  }
  
  .h2-skeleton:empty {
    height: 22px;
    width: 200px;
  }
  
  .h5-skeleton:empty {
    height: 16px;
    width: 200px;
  }
  
  @keyframes loading {
    0% {
      background-position: -100px;
    }
  
    100% {
  background-position: 200px;
    }
  }
