.h1-skeleton:empty, .h2-skeleton:empty, .h5-skeleton:empty, .img:empty, .a-skeleton:empty, .skeleton:empty {
    animation: loading 1.7s infinite linear;
    background: #dedfe1;
    background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
    background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
    background-repeat: no-repeat;
    border-radius: 3px;
  }
  
  .h1-skeleton:empty {
    height: 38px;
    width: 200px;
  }
  
  .h2-skeleton:empty {
    height: 22px;
    width: 200px;
  }
  
  .h5-skeleton:empty {
    height: 16px;
    width: 200px;
  }

  .leaderboard-skeleton:empty {
    display: block;
    position: relative;
    z-index: 2;
    min-height: 90px;
    height: auto;
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .ad-rectangle-skeleton:empty {
    background: #f5f5f7;
      max-width: 300px;
      width: 100%;
      min-height: 250px;
      height: auto;
      margin: 0 auto;
      margin-top: 30px;
  }
  
  
  @keyframes loading {
    0% {
      background-position: -100px;
    }
  
    100% {
  background-position: 200px;
    }
  }
