@import "variables";

//.h1-skeleton:empty, .p-skeleton:empty, .h2-skeleton:empty, .h5-skeleton:empty, .img:empty, .a-skeleton:empty, .skeleton:empty {
//  animation: loading 1.7s infinite linear;
//  background: $gray-200;
//  background-image: -webkit-linear-gradient(to right, $gray-200 0%, $gray-100 20%, $gray-200 40%, $gray-200 100%);
//  background-image: linear-gradient(to right, $gray-200 0%, $gray-100 20%, $gray-200 40%, $gray-200 100%);
//  background-repeat: no-repeat;
//  border-radius: 5px;
//}

.h1-skeleton:empty,
.p-skeleton:empty,
.p-skeleton:empty::after,
.h2-skeleton:empty,
.h5-skeleton:empty,
.img:empty,
.a-skeleton:empty,
.skeleton:empty {
  //animation: loading 1.7s infinite linear;
  background: $gray-200;
  background-image: -webkit-linear-gradient(to right, $gray-200 0%, $gray-100 20%, $gray-200 40%, $gray-200 100%);
  background-image: linear-gradient(to right, $gray-200 0%, $gray-100 20%, $gray-200 40%, $gray-200 100%);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.h1-skeleton:empty {
  animation: loading-h1 1.7s infinite linear;
  height: 30px;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 60%;
  }
}

.p-skeleton:empty {
  animation: loading-p 1.7s infinite linear;
  height: 20px;
  width: 100%;
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    top: 28px;
    content: "";
    height: 20px;
    width: 60%;
    animation: loading-p 1.7s infinite linear;
  }
}

.h2-skeleton:empty {
  height: 22px;
  width: 200px;
}

.h5-skeleton:empty {
  height: 16px;
  width: 200px;
}

.leaderboard-skeleton:empty {
  display: block;
  position: relative;
  z-index: 2;
  min-height: 90px;
  height: auto;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.ad-rectangle-skeleton:empty {
  background: $gray-200;
    max-width: 300px;
    width: 100%;
    min-height: 250px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
}


@keyframes loading {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 200px;
  }
}

@keyframes loading-h1 {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 300px;
  }
}

@keyframes loading-p {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 450px;
  }
}
