.svg-android_flo_tomahawk-dims {
	width: 500px;
	height: 500px;
}

.svg-android_logo-dims {
	width: 2000px;
	height: 304.58px;
}

.svg-android_logo_stacked-dims {
	width: 500px;
	height: 436.44px;
}

.svg-apple_logo-dims {
	width: 604.16px;
	height: 604.16px;
}

.svg-apple_tv_logo-dims {
	width: 1050px;
	height: 500px;
}

.svg-back_10-dims {
	width: 16px;
	height: 16px;
}

.svg-bell_regular-dims {
	width: 512px;
	height: 585.14px;
}

.svg-bell_solid-dims {
	width: 512px;
	height: 585.18px;
}

.svg-calendar_alt-dims {
	width: 512px;
	height: 512px;
}

.svg-cc_amex-dims {
	width: 27px;
	height: 20px;
}

.svg-cc_discover-dims {
	width: 26px;
	height: 20px;
}

.svg-cc_mastercard-dims {
	width: 26px;
	height: 20px;
}

.svg-cc_visa-dims {
	width: 26px;
	height: 20px;
}

.svg-check-dims {
	width: 512px;
	height: 512px;
}

.svg-checklist_no-dims {
	width: 10px;
	height: 10px;
}

.svg-checklist_yes-dims {
	width: 13px;
	height: 10px;
}

.svg-chevron-dims {
	width: 16px;
	height: 16px;
}

.svg-chevron_down-dims {
	width: 14px;
	height: 9px;
}

.svg-close-dims {
	width: 24px;
	height: 24px;
}

.svg-close_circle-dims {
	width: 500px;
	height: 500px;
}

.svg-close_x_mark-dims {
	width: 12px;
	height: 12px;
}

.svg-cog-dims {
	width: 16px;
	height: 16px;
}

.svg-cog_hd-dims {
	width: 22px;
	height: 16px;
}

.svg-collapse-dims {
	width: 16px;
	height: 16px;
}

.svg-expand-dims {
	width: 16px;
	height: 16px;
}

.svg-filters-dims {
	width: 500px;
	height: 500px;
}

.svg-fire_tv_logo-dims {
	width: 932.39px;
	height: 500px;
}

.svg-flo_hawk-dims {
	width: 518.51px;
	height: 500px;
}

.svg-flosports_logo-dims {
	width: 2000px;
	height: 226.11px;
}

.svg-forward_10-dims {
	width: 16px;
	height: 16px;
}

.svg-google_logo-dims {
	width: 512px;
	height: 512px;
}

.svg-ios_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-location_blocked-dims {
	width: 24px;
	height: 24px;
}

.svg-lock-dims {
	width: 10px;
	height: 12px;
}

.svg-minus-dims {
	width: 28px;
	height: 28px;
}

.svg-minus_outline-dims {
	width: 36px;
	height: 36px;
}

.svg-outlook_logo-dims {
	width: 512px;
	height: 517.66px;
}

.svg-plus-dims {
	width: 28px;
	height: 28px;
}

.svg-plus_outline-dims {
	width: 36px;
	height: 36px;
}

.svg-right_arrow-dims {
	width: 13px;
	height: 9px;
}

.svg-roku_logo-dims {
	width: 1625px;
	height: 500px;
}

.svg-search-dims {
	width: 12px;
	height: 12px;
}

.svg-share-dims {
	width: 16px;
	height: 16px;
}

.svg-streaming-dims {
	width: 10px;
	height: 10px;
}

.svg-varsity_white_logo-dims {
	width: 123px;
	height: 28px;
}

.svg-vid_2up_active-dims {
	width: 24px;
	height: 16px;
}

.svg-vid_2up_inactive-dims {
	width: 24px;
	height: 16px;
}

.svg-vid_4up_active-dims {
	width: 24px;
	height: 16px;
}

.svg-vid_4up_inactive-dims {
	width: 24px;
	height: 16px;
}

.svg-vid_pause-dims {
	width: 16px;
	height: 16px;
}

.svg-vid_pip_active-dims {
	width: 24px;
	height: 16px;
}

.svg-vid_pip_inactive-dims {
	width: 24px;
	height: 16px;
}

.svg-vid_play-dims {
	width: 16px;
	height: 16px;
}

.svg-vid_play_icon-dims {
	width: 50px;
	height: 50px;
}

.svg-vid_single_active-dims {
	width: 24px;
	height: 16px;
}

.svg-vid_single_inactive-dims {
	width: 24px;
	height: 16px;
}

.svg-volume_high-dims {
	width: 17px;
	height: 17px;
}

.svg-volume_low-dims {
	width: 17px;
	height: 17px;
}

.svg-volume_medium-dims {
	width: 17px;
	height: 17px;
}

.svg-volume_mute-dims {
	width: 17px;
	height: 17px;
}

