.svg-android_flo_tomahawk-dims {
	width: 500px;
	height: 500px;
}

.svg-android_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-android_logo_stacked-dims {
	width: 500px;
	height: 500px;
}

.svg-apple_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-apple_tv_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-back_10-dims {
	width: 500px;
	height: 500px;
}

.svg-bell_regular-dims {
	width: 500px;
	height: 500px;
}

.svg-bell_solid-dims {
	width: 500px;
	height: 500px;
}

.svg-calendar_alt-dims {
	width: 500px;
	height: 500px;
}

.svg-cc_amex-dims {
	width: 500px;
	height: 500px;
}

.svg-cc_default-dims {
	width: 500px;
	height: 500px;
}

.svg-cc_discover-dims {
	width: 500px;
	height: 500px;
}

.svg-cc_mastercard-dims {
	width: 500px;
	height: 500px;
}

.svg-cc_visa-dims {
	width: 500px;
	height: 500px;
}

.svg-check-dims {
	width: 500px;
	height: 500px;
}

.svg-check_circle_outline-dims {
	width: 500px;
	height: 500px;
}

.svg-checklist_no-dims {
	width: 500px;
	height: 500px;
}

.svg-checklist_yes-dims {
	width: 500px;
	height: 500px;
}

.svg-chevron-dims {
	width: 500px;
	height: 500px;
}

.svg-chevron_down-dims {
	width: 500px;
	height: 500px;
}

.svg-chevron_right-dims {
	width: 500px;
	height: 500px;
}

.svg-chevron_up-dims {
	width: 500px;
	height: 500px;
}

.svg-close-dims {
	width: 500px;
	height: 500px;
}

.svg-close_circle-dims {
	width: 500px;
	height: 500px;
}

.svg-close_circle_outline-dims {
	width: 500px;
	height: 500px;
}

.svg-close_x_mark-dims {
	width: 500px;
	height: 500px;
}

.svg-cog-dims {
	width: 500px;
	height: 500px;
}

.svg-cog_hd-dims {
	width: 500px;
	height: 500px;
}

.svg-collapse-dims {
	width: 500px;
	height: 500px;
}

.svg-equalizer-dims {
	width: 500px;
	height: 500px;
}

.svg-expand-dims {
	width: 500px;
	height: 500px;
}

.svg-external_link-dims {
	width: 500px;
	height: 500px;
}

.svg-filters-dims {
	width: 500px;
	height: 500px;
}

.svg-fire_tv_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-flo_hawk-dims {
	width: 500px;
	height: 500px;
}

.svg-flobaseball-hawk-dims {
	width: 2000px;
	height: 185.64px;
}

.svg-flobikes-hawk-dims {
	width: 2000px;
	height: 257.76px;
}

.svg-flobowling-hawk-dims {
	width: 2000px;
	height: 195.93px;
}

.svg-flocheer-hawk-dims {
	width: 2000px;
	height: 240.86px;
}

.svg-flocombat-hawk-dims {
	width: 2000px;
	height: 210.64px;
}

.svg-flodance-hawk-dims {
	width: 2000px;
	height: 237.97px;
}

.svg-floelite-hawk-dims {
	width: 2000px;
	height: 263.71px;
}

.svg-flofc-hawk-dims {
	width: 2000px;
	height: 371.19px;
}

.svg-flofootball-hawk-dims {
	width: 2000px;
	height: 183.6px;
}

.svg-flograppling-hawk-dims {
	width: 2000px;
	height: 171.26px;
}

.svg-flogymnastics-hawk-dims {
	width: 2000px;
	height: 156.71px;
}

.svg-flohockey-hawk-dims {
	width: 2000px;
	height: 211.12px;
}

.svg-flohoops-hawk-dims {
	width: 2000px;
	height: 234.67px;
}

.svg-flolive-hawk-dims {
	width: 2000px;
	height: 296.29px;
}

.svg-flomarching-hawk-dims {
	width: 2000px;
	height: 179.58px;
}

.svg-floracing-hawk-dims {
	width: 2000px;
	height: 225.37px;
}

.svg-florodeo-hawk-dims {
	width: 2000px;
	height: 237.07px;
}

.svg-flosoftball-hawk-dims {
	width: 2000px;
	height: 185.1px;
}

.svg-flosports-hawk-dims {
	width: 2000px;
	height: 226.11px;
}

.svg-flosports_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-floswimming-hawk-dims {
	width: 2000px;
	height: 179.43px;
}

.svg-flotrack-hawk-dims {
	width: 2000px;
	height: 238.83px;
}

.svg-flovoice-hawk-dims {
	width: 2000px;
	height: 254.09px;
}

.svg-flovolleyball-hawk-dims {
	width: 2000px;
	height: 159.37px;
}

.svg-flowrestling-hawk-dims {
	width: 2000px;
	height: 167.52px;
}

.svg-forward_10-dims {
	width: 500px;
	height: 500px;
}

.svg-google_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-info_circle-dims {
	width: 500px;
	height: 500px;
}

.svg-info_circle_solid-dims {
	width: 500px;
	height: 500px;
}

.svg-ios_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-left_arrow-dims {
	width: 500px;
	height: 500px;
}

.svg-location-dims {
	width: 500px;
	height: 500px;
}

.svg-location_blocked-dims {
	width: 500px;
	height: 500px;
}

.svg-lock-dims {
	width: 500px;
	height: 500px;
}

.svg-menu_hamburger-dims {
	width: 500px;
	height: 500px;
}

.svg-mic-dims {
	width: 500px;
	height: 500px;
}

.svg-mic_mute-dims {
	width: 500px;
	height: 500px;
}

.svg-milesplit-dims {
	width: 753px;
	height: 183.2px;
}

.svg-minus-dims {
	width: 500px;
	height: 500px;
}

.svg-minus_circle_outline-dims {
	width: 500px;
	height: 500px;
}

.svg-minus_outline-dims {
	width: 500px;
	height: 500px;
}

.svg-outlook_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-plus-dims {
	width: 500px;
	height: 500px;
}

.svg-plus_circle_outline-dims {
	width: 500px;
	height: 500px;
}

.svg-plus_outline-dims {
	width: 500px;
	height: 500px;
}

.svg-right_arrow-dims {
	width: 500px;
	height: 500px;
}

.svg-roku_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-search-dims {
	width: 500px;
	height: 500px;
}

.svg-share-dims {
	width: 500px;
	height: 500px;
}

.svg-streaming-dims {
	width: 500px;
	height: 500px;
}

.svg-tv-dims {
	width: 500px;
	height: 500px;
}

.svg-user-dims {
	width: 500px;
	height: 500px;
}

.svg-varsity_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-varsity_logo_pill-dims {
	width: 500px;
	height: 500px;
}

.svg-varsity_rounded_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-varsity_stacked-dims {
	width: 500px;
	height: 500px;
}

.svg-varsity_stacked_color-dims {
	width: 500px;
	height: 500px;
}

.svg-varsity_white_logo-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_2up_active-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_2up_inactive-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_4up_active-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_4up_inactive-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_pause-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_pause_outline-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_pip_active-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_pip_inactive-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_play-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_play_icon-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_play_icon_outline-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_single_active-dims {
	width: 500px;
	height: 500px;
}

.svg-vid_single_inactive-dims {
	width: 500px;
	height: 500px;
}

.svg-volume_high-dims {
	width: 500px;
	height: 500px;
}

.svg-volume_low-dims {
	width: 500px;
	height: 500px;
}

.svg-volume_medium-dims {
	width: 500px;
	height: 500px;
}

.svg-volume_mute-dims {
	width: 500px;
	height: 500px;
}

