.tabs-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

label.tab-label {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-left: $tab-label-padding-x;
  padding-right: $tab-label-padding-x;
  padding-bottom: $tab-label-padding-bottom;
  cursor: pointer;
  z-index: 1;
  margin-left: -1px;
  margin-left: $tab-label-margin-x;
  margin-right: $tab-label-margin-x;
  margin-bottom: -1px;
  color: $gray-500;
}

label.tab-label:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.tab-content {
  width: 100%;
  margin-top: -1px;
  padding: $tab-content-padding-y $tab-content-padding-x $tab-content-padding-y $tab-content-padding-x;
  border-top: $tab-border-width solid $tab-border-color;
  -webkit-order: 1;
  order: 1;
}

.tab-content, input.tab-input {
  display: none;
}


input.tab-input:checked + label.tab-label {
  border-bottom: $tab-border-width solid $primary;
  color: $primary;
}

input.tab-input:checked + label.tab-label + .tab-content {
  display: block;
}
