.tabs-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: $nav-tabs-border-color solid $nav-tabs-border-width;
  border-top: $nav-tabs-border-color solid $nav-tabs-border-width;
}

label.tab-label {
  align-items: center;
  border-bottom: $gray-300 solid 1px;
  border-top: $gray-300 solid 1px;
  display: flex;
  min-width:125px;
  font-size: $input-btn-font-size-lg;
  min-height: from-pixels(55);
  justify-content: center;
  padding-left:  $tab-label-padding-x;
  padding-right: $tab-label-padding-x;
  padding-bottom: $tab-label-padding-bottom;
  cursor: pointer;
  z-index: 1;
  margin-left: -1px;
  margin-left: $tab-label-margin-x;
  margin-right: $tab-label-margin-x;
  margin-bottom: -1px;
  color: $gray-500;
  text-align: center;

  &:first-of-type {
    //margin-left: 0;
    padding-left: $tab-label-padding-x;
  }
  @include media-breakpoint-down(sm){
    flex-grow: 1;
    flex-basis: from-pixels(125);
    padding-left:  0;
    padding-right: 0;
  }
  
  &.flex-tab{
    flex-grow: 1;
    flex-basis: from-pixels(125);
    padding-left:  0;
    padding-right: 0;
  }

}

.tab-content {
  width: 100%;
  margin-top: -1px;
  padding: $tab-content-padding-y $tab-content-padding-x $tab-content-padding-y $tab-content-padding-x;
  border-top: $tab-border-width solid $tab-border-color;
  -webkit-order: 1;
  order: 1;
}

.tab-content,
input.tab-input {
  display: none;
}

input.tab-input:checked + label.tab-label {
  border-bottom: $tab-border-width solid $primary;
  color: $primary;
}

input.tab-input:checked + label.tab-label + .tab-content {
  display: block;
}

