@mixin alert-variant($background, $border, $color) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}


@mixin alert-status-variant($color) {
  color: $color;
  // background: lighten($color, 74%);
  border-radius: $border-radius;
  .alert-link {
    color:lighten($color, 10%);
  }
}


// @mixin alert-status-variant($color) {
//   color: $color;
//   background: lighten($color, 74%);
//   border-radius: $border-radius;
//   .alert-link {
//     color:lighten($color, 20%);
//   }
// }
