// color Hawk in FloSports logo
.cbflo-svg-logo-graphic{
  color: #ff140f;
}


//Co brand Colors - MileSplit
.logo-text-mile{
  fill: #000062;
  }
.logo-text-split{
    fill:#C80000;
}

// TODO:  Remove before merge if not needed -- Classes for all brands hawk graphic with extra characters bj, bk, ... added to sub classes in svg by processing sprite sheet

//   .bjflo-svg-logo-graphic, .bkflo-svg-logo-graphic, .blflo-svg-logo-graphic,
//  .bmflo-svg-logo-graphic, .bnflo-svg-logo-graphic, .boflo-svg-logo-graphic,
//  .bpflo-svg-logo-graphic, .bqflo-svg-logo-graphic, .brflo-svg-logo-graphic,
//  .bsflo-svg-logo-graphic, .btflo-svg-logo-graphic, .bqflo-svg-logo-graphic,
//  .brflo-svg-logo-graphic, .bsflo-svg-logo-graphic, .btflo-svg-logo-graphic,
//  .buflo-svg-logo-graphic, .bvflo-svg-logo-graphic, .bwflo-svg-logo-graphic,
//  .bxflo-svg-logo-graphic, .byflo-svg-logo-graphic, .bzflo-svg-logo-graphic,
//  .caflo-svg-logo-graphic, .cbflo-svg-logo-graphic, .ccflo-svg-logo-graphic,
//  .cdflo-svg-logo-graphic, .ceflo-svg-logo-graphic, .cfflo-svg-logo-graphic,
//  .cgflo-svg-logo-graphic, .chflo-svg-logo-graphic { color: #ff140f; }


